	<div id="footer" class="footer">
		<div class="wrap">
			<div class="gototop">
				<p>
					<a href="#wrap" rel="nofollow">Return to top of page</a>
				</p>
			</div>
			<div class="creds">
				<p>
					Copyright &#x000A9; 2013 &#x000B7; <a href="http://www.studiopress.com/themes/georgia" title="Georgia Theme">Georgia Theme</a> on <a href="http://www.studiopress.com/" title="Genesis Framework">Genesis Framework</a> &#x000B7; <a href="http://wordpress.org/" title="WordPress">WordPress</a> &#x000B7; <a href="http://demo.studiopress.com/wp-login.php">Log in</a>
				</p>
			</div>
		</div>
	</div>