	<div id="subnav">
		<div class="wrap">
			<ul id="menu-secondary-navigation" class="menu genesis-nav-menu menu-secondary js-superfish">
				<li id="menu-item-23" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-23"><a href="http://demo.studiopress.com/blog/category/category-1">Category #1</a></li>
				<li id="menu-item-24" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-24"><a href="http://demo.studiopress.com/blog/category/category-2">Category #2</a>
				<ul class="sub-menu">
					<li id="menu-item-28" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-28"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11">Sub Category 1.1</a>
					<ul class="sub-menu">
						<li id="menu-item-31" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-21">Sub Category 2.1</a>
						<ul class="sub-menu">
							<li id="menu-item-34" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-34"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-21/sub-category-31">Sub Category 3.1</a></li>
							<li id="menu-item-35" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-21/sub-category-32">Sub Category 3.2</a></li>
							<li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-21/sub-category-33">Sub Category 3.3</a></li>
						</ul>
						</li>
						<li id="menu-item-32" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-22">Sub Category 2.2</a></li>
						<li id="menu-item-33" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-33"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-11/sub-category-23">Sub Category 2.3</a></li>
					</ul>
					</li>
					<li id="menu-item-29" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-12">Sub Category 1.2</a></li>
					<li id="menu-item-30" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a href="http://demo.studiopress.com/blog/category/category-1/sub-category-13">Sub Category 1.3</a></li>
				</ul>
				</li>
				<li id="menu-item-25" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a href="http://demo.studiopress.com/blog/category/category-3">Category #3</a></li>
				<li id="menu-item-26" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a href="http://demo.studiopress.com/blog/category/category-4">Category #4</a></li>
				<li id="menu-item-27" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a href="http://demo.studiopress.com/blog/category/category-5">Category #5</a></li>
			</ul>
		</div>
	</div>
